.skip-link {
    color: #000000; /* Black text color */
    padding: 8px;
    z-index: 100;
    text-decoration: none; /* No underline unless focused */
}

.skip-link:focus {
    text-decoration: underline; /* Underline to indicate focus */
    color: #007BFF;
}

button:focus {
    text-decoration: underline; /* Underline to indicate focus */
    color: #007BFF;
}

.paddle {
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: white;
}
#paddle1 { /* Left paddle */
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
#paddle2 { /* Right paddle */
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.thumbnail-img {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.thumbnail-container {
    text-align: center; /* Center-align content */
}

.thumbnail-img {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.thumbnail-title {
    margin-top: 5px; 
}
.game-container {
    position: relative;
    max-width: 600px;
    height: 400px;  /* Adjust based on your preference */
    background-color: #000;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Styling for the game statistics sections */
.game-stats-section {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Headings inside the sections */
.game-stats-section h4 {
    color: #007BFF;
}

/* List group styling for games */
.list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

/* Canvas for charts */
canvas {
    padding: 10px;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Ensure responsiveness of canvas */
@media (max-width: 768px) {
    canvas {
        width: 100%;
        height: auto;
    }
}


/* tic-tac-toe */

#game-board2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 5px;
    max-width: 400px;  /* Adjust as necessary for your design */
}


.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

.cell {
    width: 90px;
    height: 90px;
    background-color: #f4f4f4;
    border: none;
    font-size: 2em;
    color: #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #e2e2e2;
}

.board-row {
    display: contents;
}

.container {
    text-align: center;
    padding: 20px;
}

#game-status {
    margin-top: 20px;
    font-size: 1.2em;
}

