body {
    background-color: #f1d8f8; /* Hexadecimal color code for light purple */
}

.game_ctn {
    display: flex;              
    justify-content: center;    
    text-align: center;         
    align-items: center;    
    width: 100%; 
}

.skip-link {
    color: #000000; /* Black text color */
    padding: 8px;
    z-index: 100;
    text-decoration: none; /* No underline unless focused */
}

.skip-link {
    color: #000000; /* Black text color */
    padding: 8px;
    z-index: 100;
    text-decoration: none; /* No underline unless focused */
}

body {
    background-color: #F1E1FF; /* Светло-фиолетовый фон */
}
/* body {
    background-color: #EDE7F6; /* Светло-фиолетовый фон */
/* } */ */
.skip-link:focus {
    text-decoration: underline; /* Underline to indicate focus */
    color: #007BFF;
}

button:focus {
    text-decoration: underline; /* Underline to indicate focus */
    color: #007BFF;
}

.paddle {
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: white;
}
#paddle1 { /* Left paddle */
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
#paddle2 { /* Right paddle */
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.thumbnail-img {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.thumbnail-container {
    text-align: center; /* Center-align content */
    color: black;
}

.thumbnail-img {
    width: 100px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.thumbnail-title {
    margin-top: 5px; 
}
.game-container {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    height: 400px;  
    background-color: #000;
}

#game-timer {
    text-align: center; /* Центрирование текста */
    width: 100%; /* Обеспечение полной ширины в рамках колонки */
}


.ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Styling for the game statistics sections */
.game-stats-section {
    background-color: rgba(255, 255, 255, 0.707);
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Headings inside the sections */
.game-stats-section h4 {
    color: #007BFF;
}

/* List group styling for games */
.list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.chart-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}


/* Canvas for charts */
canvas {
    padding: 10px;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Ensure responsiveness of canvas */
@media (max-width: 768px) {
    canvas {
        width: 100%;
        height: auto;
    }
}


/* tic-tac-toe */

#game-board2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 5px;
    max-width: 400px;  /* Adjust as necessary for your design */
}


.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

.cell {
    width: 90px;
    height: 90px;
    background-color: #f4f4f4;
    border: none;
    font-size: 2em;
    color: #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #e2e2e2;
}

.board-row {
    display: contents;
}

.container {
    text-align: center;
    padding: 20px;
}

#game-status {
    margin-top: 20px;
    font-size: 1.2em;
}

#language-select {
    padding: 6.5px 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #6e757c;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/static/images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
    width: 100%;
    color: white;  
}

#language-select:hover {
    border-color: #888;
}

#language-select:focus {
    border-color: #0056b3;
    outline: none;
}
