{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
<main>
    <h3>{% trans "Choose a game:" %}</h3>
    <table class="table">
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_game' %}">
                        <img src="{% static 'images/pong.webp' %}" alt="Pong Classic" class="thumbnail-img">
                        <p class="thumbnail-title">{% trans "Pong Classic" %}</p>
                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_tour' %}">
                        <img src="{% static 'images/pong4.webp' %}" alt="Pong Torunament" class="thumbnail-img">
                        <p class="thumbnail-title">{% trans "Pong Classic Tournament" %}</p>
                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_AI' %}">

                        <img src="{% static 'images/pong5.webp' %}" alt="Pong Tournament" class="thumbnail-img">
                        <p class="thumbnail-title">Pong Classic AI</p>

                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_game2' %}">
                        <img src="{% static 'images/pong2.webp' %}" alt="Pong Classic 2 Balls" class="thumbnail-img">
                        <p class="thumbnail-title">{% trans "Pong 2 Balls" %}</p>
                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_tour2' %}">

                        <img src="{% static 'images/pong3.webp' %}" alt="Pong Tournament 2 Balls" class="thumbnail-img">
                        <p class="thumbnail-title">Pong 2 Balls Tournament</p>

                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_AI2' %}">
                        <img src="{% static 'images/pong6.webp' %}" alt="Pong Torunament 2 Balls" class="thumbnail-img">
                        <p class="thumbnail-title">{% trans "Pong 2 Balls AI" %}</p>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_game' %}">

                        <img src="{% static 'images/tic.webp' %}" alt="tic-tac-toe Classic" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Classic</p>

                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_tour' %}">

                        <img src="{% static 'images/tic2.webp' %}" alt="tic-tac-toe Tournament" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Classic Tournament</p>

                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_AI' %}">

                        <img src="{% static 'images/tic3.webp' %}" alt="tic-tac-toe AI" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Classic AI</p>

                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_game2' %}">

                        <img src="{% static 'images/tic6.webp' %}" alt="tic-tac-toe modified" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Modified</p>

                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_tour2' %}">

                        <img src="{% static 'images/tic5.webp' %}" alt="tic-tac-toe Torunament" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Modified Tournament</p>

                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'tic_AI2' %}">

                        <img src="{% static 'images/tic4.webp' %}" alt="tic-tac-toe modified AI" class="thumbnail-img">
                        <p class="thumbnail-title">tic-tac-toe Modified AI</p>

                    </a>
                </div>
            </td>
        </tr>
       
    </table>
</main>
{% endblock %}
