{% extends 'base.html' %}

{% block content %}
{% load static %}
<main>
    <p>Choose a game:</p>
    <table class="table">
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_game' %}">
                        <img src="{% static 'images/pong_thumbnail.jpg' %}" alt="Pong Classic" class="thumbnail-img">
                        <p class="thumbnail-title">Pong</p>
                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_tour' %}">
                        <img src="{% static 'images/pong_thumbnail.jpg' %}" alt="Pong Torunament" class="thumbnail-img">
                        <p class="thumbnail-title">Pong Tournament</p>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_game2' %}">
                        <img src="{% static 'images/pong_thumbnail.jpg' %}" alt="Pong Classic 2 Balls" class="thumbnail-img">
                        <p class="thumbnail-title">Pong Classic 2 Balls</p>
                    </a>
                </div>
            </td>
            <td>
                <div class="thumbnail-container">
                    <a href="{% url 'pong_tour2' %}">
                        <img src="{% static 'images/pong_thumbnail.jpg' %}" alt="Pong Torunament 2 Balls" class="thumbnail-img">
                        <p class="thumbnail-title">Pong Tournament 2 Balls</p>
                    </a>
                </div>
            </td>
        </tr>
       
    </table>
</main>
{% endblock %}
