{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Game Statistics" %}
{% endblock title %}

{% block content %}
{% load static %}
<h2>{% trans "Game Statistics" %}</h2>
{% for type_name, games_list in games_by_type.items %}
    <div class="mt-4">
        <h4>{{ type_name }} {% trans "Games" %}</h4>
        <div class="list-group">
            {% for game in games_list %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ game.game_result|title }}</h5>
                        <small>{{ game.date_time|date:"Y-m-d H:i" }}</small>
                    </div>
                    
                </a>
            {% empty %}
                <p>{% trans "No games played yet for this type." %}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock content %}

