{% extends 'base.html' %}

{% load static %}

{% block content %}
<script type="text/javascript">
    var playerName = "{{ nickname }}";  // Assuming 'nickname' is context from Django
</script>
<main class="container mt-4">
    <div class="row justify-content-center text-center">
        <div class="col-md-4" id="alias-inputs">
            <input id="player2-alias" type="text" placeholder="Enter Player 2 Alias" class="form-control mb-2">
            <input id="player3-alias" type="text" placeholder="Enter Player 3 Alias" class="form-control mb-2">
            <button id="submit-aliases" class="btn btn-primary mb-2">Submit Aliases</button>
        </div>
    </div>
    <div class="row justify-content-center text-center my-3">
        <div class="col-md-4">
            <h4>Total Game Score</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="current-name-player1">{{ nickname }}</td>
                        <td id="current-score-player1">0</td>
                    </tr>
                    <tr>
                        <td id="current-name-player2">Player 2</td>
                        <td id="current-score-player2">0</td>
                    </tr>
                    <tr>
                        <td id="current-name-player3">Player 3</td>
                        <td id="current-score-player3">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center text-center my-3">
        <button id="start-button" class="btn btn-primary" style="display: none;">Start Tournament</button>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-md-4 text-center">
            <div id="game-status">Ready to start</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div id="tic-tac-toe-board" class="game-board">
                {% for row in "012" %}
                <div class="board-row">
                    {% for col in "012" %}
                    <button class="cell" id="cell-{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"></button>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/tournament_tic.js' %}"></script>
{% endblock %}
