{% extends 'base.html' %}

{% load static %}

{% block content %}
<script type="text/javascript">
    var playerName = "{{ nickname }}";
</script>
<main class="container mt-4">
    <div id="tic-tac-toe-board" class="game-board">
        {% for row in "012" %}
        <div class="board-row">
            {% for col in "012" %}
            <button class="cell" id="cell-{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"></button>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <p id="game-status">Press Start to play!</p>
    <button id="start-button">Start Game</button>
    <div id="countdown"></div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/classic_tic_AI.js' %}"></script>
{% endblock %}
